docker-compose/*/.env
docker-compose/nginx/dhparam.pem

docker-compose/valheim/valheim/

nginx/htpasswd.d/*
!nginx/htpasswd.d/.keep

nginx/sites-enabled/*
!nginx/sites-enabled/README

www/nur-jan.de/backups/*
!www/nur-jan.de/backups/.keep
