{
  "PublicServer": false,
  "Playtime": "",
  "DiscordAddress": "",
  "Password": "",
  "Description": "nur-jan.de Eco Server",
  "DetailedDescription": "",
  "ServerCategory": "None",
  "IPAddress": "Any",
  "RemoteAddress": "nur-jan.de:3000/",
  "GameServerPort": 3000,
  "WebServerPort": 3001,
  "Rate": 20,
  "MaxConnections": -1,
  "UPnPEnabled": false
}
